

{% extends 'layout/basic.html' %}

{% block content %}
<table rules="rows" border="1">
    <tr>
    <th>Фио мастера:</th>
    <th>Номер карты:</th>
    <th>Уровень доступа:</th>
    <th>Участок:</th>
    <th>Регистрация:</th>
   </tr>
{% for mm in mms %}
     <tr>
     <td>{{ mm.UserLogin }}</td>
     <td>{{ mm.cardNumber }}</td>
     <td>{{ mm.accessLevel }}</td>
     <td><a href="{% url 'bboard:by_rubric' mm.rubric.pk %}">{{ mm.rubric.name }}</a></td>
     <td>{{ mm.published }}</td>
     </tr>
{% endfor %}
</table>
{% endblock %}